@import '@fontsource/victor-mono';

/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* light theme variables */
    --text-color: #000000;
    --color-text-base: 255, 255, 255;
    --color-text-muted: 199, 210, 254;
    --color-text-light: 128, 180, 224;
    --color-text-inverted: 79, 70, 229;
    --color-fill: 67, 56, 202;
    --color-button-accent: 255, 255, 255;
    --color-button-accent-hover: 238, 242, 255;
    --color-button-muted: 99, 102, 241;

    /* light theme syntax colors */
    --code-fill: rgba(128, 128, 128, 0.1);
    --code-normal: #333333; /*hsl(45, 7%, 45%)*/
    --code-string: hsl(41, 37%, 45%); /*#183691 */
    --code-number: hsl(102, 27%, 50%); /* #0086b3;*/
    --code-atrule: var(--code-string);
    --code-keyword: hsl(204, 58%, 45%); /* #795da3;*/
    --code-comment: #969896; /*hsl(210, 25%, 60%)*/
    --code-property: #63a35c;
    --code-selector: var(--code-keyword);
    --code-operator: hsl(19, 67%, 45%);
    --code-function: hsl(19, 67%, 45%); /* #a71d5d; */

    --code-gutter-marker: black;
    --code-gutter-subtle: #999;
    --code-cursor: #24292e;
    --code-cursor-block: rgba(20, 255, 20, 0.5);
    --code-linenumbers: rgba(27, 31, 35, 0.3);

    /* state colors */
    --state-info-fill: #c1d9fa;
    --state-info-text: #215aa6;
    --state-pass-fill: #d4f1e0;
    --state-pass-pass: #4e916a;
    --state-fail-fill: #f3c2c2;
    --state-fail-text: #972424;
    --state-warn-fill: #fdeeca;
    --state-warn-text: #ae8b37;
  }

  .theme-dark {
    /* one dark theme syntax colors */
    --code-fill: #282c34;
    --code-normal: #e06c75; /*#ABB2BF;*/
    --code-string: #98c379;
    --code-number: #d19a66;
    --code-atrule: #61afef;
    --code-keyword: #c678dd;
    --code-comment: #5c6370;
    --code-property: #d19a66;
    --code-selector: #e06c75;
    --code-operator: #56b6c2;
    --code-function: #61afef;
  }

  body {
    @apply h-screen w-full;
  }

  #svelte {
    @apply flex flex-col h-full w-full;
  }
}

:root {
  /* font-family: Arial, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
		Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
  --font-mono: 'Victor Mono', monospace;
  --pure-white: #ffffff;
  --primary-color: #b9c6d2;
  --secondary-color: #d0dde9;
  --tertiary-color: #edf0f8;
  --accent-color: #ff3e00;
  --heading-color: rgba(0, 0, 0, 0.7);
  --text-color: #444444;
  --background-without-opacity: rgba(255, 255, 255, 0.7);
  --column-width: 42rem;
  --column-margin-top: 4rem;
}

/* body {
	min-height: 100vh;
	margin: 0;
	background-color: var(--primary-color);
	background: linear-gradient(
		180deg,
		var(--primary-color) 0%,
		var(--secondary-color) 10.45%,
		var(--tertiary-color) 41.35%
	);
} */

/* body::before {
	content: '';
	width: 80vw;
	height: 100vh;
	position: absolute;
	top: 0;
	left: 10vw;
	z-index: -1;
	background: radial-gradient(
		50% 50% at 50% 50%,
		var(--pure-white) 0%,
		rgba(255, 255, 255, 0) 100%
	);
	opacity: 0.05;
} */

/* #svelte {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
} */

h1,
h2,
p {
  font-weight: 400;
  color: var(--heading-color);
}

p {
  line-height: 1.5;
}

a {
  color: var(--accent-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1 {
  font-size: 2rem;
  margin-bottom: 0 0 1em 0;
  text-align: center;
}

h2 {
  font-size: 1rem;
}

pre {
  font-size: 16px;
  font-family: var(--font-mono);
  background-color: rgba(255, 255, 255, 0.45);
  border-radius: 3px;
  box-shadow: 2px 2px 6px rgb(255 255 255 / 25%);
  padding: 0.5em;
  overflow-x: auto;
  color: var(--text-color);
}

input,
button {
  font-size: inherit;
  font-family: inherit;
}

button:focus:not(:focus-visible) {
  outline: none;
}

@media (min-width: 720px) {
  h1 {
    font-size: 2.4rem;
  }
}
